#homeHead{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px 25%;
    text-align: center;

}
#homeHead h1{
    text-align: center;
    margin: 20px 0px;
    padding: 10px 0px;
}
#homeHead p{
    margin: 5px;
    padding: 14px 2px;
}


.blogs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 36%;
    
}

.blogItems{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;

}
 .blogItems a{
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.himg{
        margin: 8px 40%;
        border-radius: 14px;
}


